<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.ProductName }} ({{ product.ProductCode }})</h2>
                <p>Total Stock: {{ product.TotalStock }}</p>
                
                <p>HSN Code: {{ product.HSNCode }}</p>
                <ul>
                    {% for variant in product.variants.all %}
                        <li>
                            <strong>Variant:</strong> {{ variant.name }}
                            <ul>
                                {% for sub_variant in variant.sub_variants.all %}
                                    <li>
                                        Sub-Variant: {{ sub_variant.name }} - Stock: {{ sub_variant.stock }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
